/* Estilo global */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

}
/* Paletas global */
:root{
    /* Paleta de colores de la página web */
    --bg-color: #101010;
    --primary-color: #FEFEFE;
    --accentY-color: #FCED22;
    --accentC-color: #67C6C0;
    --accentB-color: #3257A2;
    --accentO-color: #F27E2A;
    --accentP-color: #F8B8D2;

    /* Paleta de tamaños de texto */
    --p-font: 1rem;
    --big-font: 2rem;
    --tittle-font:1.6rem;
    --quote-font: 1.3rem;
}
/* NAVBAR */
body{
    background-color:var(--bg-color);
    color: var(--primary-color);
}
.logo img{
    width: 100%;
    height: auto;
}
/* Header */
header{
    position:fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 35px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    transition: all .50s ease;
}
@media(max-width: 1770px){

    header{
        padding: 20px 4%;
    }
}
/* NAV */
.navlist{
    display: flex;
}
.navlist a{
    display: inline-block;
    margin: 0 35px;
    color: var(--primary-color);
    font-size: 1rem;
    transition: all .6s ease;
}
.navlist a:hover{
    color: var(--accentY-color);
}
/* SECCIONES */
section{
    padding: 0 14%;
}
/* SECCION 1 */
.seccion1{
    position: relative;
    padding-top: 150px;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}
@media (max-width: 768px) {
    /* Pntallas pequeñas */
    .seccion1 {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .seccion1_text {
        margin-bottom: 20px;
    }

    .pac_img {
        display: flex;
        justify-content: center;
    }
}
/* IMAGEN */
.pac_img img {
    width: 100%;
    height: auto;
    max-width: 437px; /* Pantallas completa */
}

@media (max-width: 1024px) {
    .pac_img img {
        max-width: 300px; /* Pantallas medianas */
    }
}

@media (max-width: 768px) {
    .pac_img img {
        max-width: 200px; /* Pntallas pequeñas */
    }
}
/* TEXTO */
.seccion1_text{
    width: 100%px;
}
.seccion1_text h1{
    font-size:var(--big-font);
    font-weight: 800;
    margin: 15px 0;
    color: var(--accentY-color);

}
.seccion1_text h2{
    font-size:var(--tittle-font);
    font-weight: 600;
    margin: 15px 0;
    color: var(--primary-color);

}
.seccion1_text p{
    font-size:var(--p-font);
    margin: 15px 0;
    color: var(--primary-color);
    margin-bottom: 40px;
}
/* BOTON */
.seccion1_btn{
    display: inline-block;
    padding: 13px 32px;
    background: var(--accentP-color);
    border-radius: 50px;
    transition: all .6s ease;

}
.seccion1_btn a{
    color: var(--bg-color);
    font-size: 0.9rem;
    font-weight: 600;
}
.seccion1_btn:hover{
    transform: scale(1.1);
    background-color: var(--accentY-color);
}
/* REDES */
.redes{
    position: absolute;
    top: 50%;
    padding: 0 7%;
    transform: translateY(-50%);
}
.redes img{
    display: block;
    margin: 35px 0;
    height: 54px;
    transition: all 0.6s ease;
}
.redes img:hover{
    transform: scale(1.1);
}
@media (max-width: 768px) {
    /* Pantallas pequeñas */
    .redes img{
        height: 35px;
    }
    .seccion1 {
        padding-bottom: 100px;
    }
}
@media (max-width: 768px) {
    /* Pantallas medianas */
    .redes img{
        height: 45px;
    }
    
}
/* SCROLL */
.scroll{
    position: absolute;
    top: 92%;
    right: 7%;
    transform: translateY(-50%);
}
.scroll a{
    font-size: 16px;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    text-decoration: none;
}
.scroll img{
    width: 29px;
    height: 29px;
    margin-right: 6px;
    transition: all 0.6s ease;
}
.scroll img:hover{
    transform: scale(1.1);
}
html {
    scroll-behavior: smooth;
}
/* Estas caracteristicas se agregaran solo cuando sea de 1770 px o menos */
@media(max-width: 1770px){

    scroll{
        right: 4%;
    }
}
/* FOOTER*/
#final {
    width: 1440px;
    height: 524px;
    background: var(--primary-color);
    padding: 50px 0;
    text-align: center;
    margin: 0 auto;
}

#final h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: var(--bg-color);
}

#final h3 {
    font-size: 18px;
    margin-bottom: 30px;
    color: var(--bg-color);
}

/* Form*/
.subscribe-form {
    position: relative;
    width: 955px;
    margin: 0 auto;
}

/* Input*/
.subscribe-form input {
    width: 100%;
    height: 79px;
    padding: 0 20px;
    border-radius: 50px;
    border: 1px solid #ccc;
    background: var(--bg-color);
    font-size: 18px;
    color: var(--primary-color);
    box-sizing: border-box;
}

/* Button*/
.subscribe-form button {
    position: absolute;
    right: 0;
    top: 0;
    height: 79px;
    width: 200px;
    border: none;
    border-radius: 50px;
    background: var(--accentP-color);
    color: var(--bg-color);
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s;
}
.subscribe-form button:hover {
    background: var(--accentB-color);
}
footer img{
    width: 955px;
    height: 79px;
    margin: 40px auto 20px;
    display: block;
}
footer h5{
    color: var(--bg-color);
    margin-top: 20px;
}
@media (max-width: 1440px) {
    #final {
        width: 100%;
        padding: 50px 20px;
    }

    .subscribe-form {
        width: 100%;
    }

    .subscribe-form input,
    .subscribe-form button {
        width: 100%;
    }

    .subscribe-form button {
        width: auto;
        padding: 0 20px;
    }
    footer img{
        width: 100%;
        height: auto;
    }
}

@media (max-width: 768px) {
    .subscribe-form input,
    .subscribe-form button {
        height: 60px;
        font-size: 16px;
    }
    footer img{
        width: 100%;
        height: auto;
    }
}

